.page {
    --switcher-gap: var(--space-l-xl);
    --switcher-container-width: 70rem;
    --region-space: var(--space-2xl-3xl);
}

.page aside {
    background-color: var(--pink-2);
}

@media (min-width: 70rem) {
    .page-container {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        height: 100%;
        overflow-y: scroll;
    }

    .page {
        --region-space: var(--gutter);

        height: 100%;
        scroll-snap-align: center;
    }

    .page > .flow {
        max-height: 70vh;
        overflow-y: auto;
    }
}
