---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

{%- for subpage in collections.subpage -%}
<article class="region">
  <div class="wrapper flow prose">
    {{ subpage.content | safe }}
  </div>
</article>
{%- endfor -%}
