.NavItem * {
  font-size: 0.8rem;
}

.NavItem a {
  color: black;
}

.NavItem .active {
  font-size: 3em;
}

.NavItem .single {
  margin: 1rem 0;
  height: 10vh;
}

.NavItem .double {
  margin: 2rem 0;
  height: 20vh;
}
