* {
  font-size: 0.8rem;
}

a {
  color: black;
}

.active {
  font-size: 3em;
}

.single {
  margin: 1rem 0;
  height: 10vh;
}

.double {
  margin: 2rem 0;
  height: 20vh;
}

.vertical-bar > div {
  width: 1px;
}
