.i-should-use-sass * {
  font-size: 0.8rem;
}

.i-should-use-sass a {
  color: black;
}

.i-should-use-sass .active {
  font-size: 3em;
}

.i-should-use-sass .single {
  margin: 1rem 0;
  height: 10vh;
}

.i-should-use-sass .double {
  margin: 2rem 0;
  height: 20vh;
}

.i-should-use-sass .vertical-bar > div {
  width: 1px;
}
