@use "./src/index";

.Portrait {
    .zoom-container {
        width: 15vw;
        overflow: hidden;
    }

    img {
        width: 100%;
        align-self: start;
        filter: grayscale(100%);

        transition: transform 0.8s ease, filter 0.8s ease-in-out;
    }

    img:hover {
        filter: none;

        transform: scale(1.05);
    }

    .aside {
        // m-2 + line-height name
        padding-top: calc(0.5 * 1rem + 18px);
        width: 18px;

        div {
            text-decoration: underline;
        }
    }

    .rotated {
        transform: rotate(90deg);
    }

    .negative-rotated {
        // TODO: update translate
        transform: rotate(-90deg) translate(-108px);
    }

    @include index.media-breakpoint-down(sm) {
        .zoom-container {
            width: 40vw;
        }
    }
}
