@use "./src/index";

.WhatWeDo {
    img {
        width: 85%;
    }

    @include index.media-breakpoint-down(lg) {
        padding-bottom: 5rem;

        img {
            width: 100%;
        }
    }
}
