footer {
    padding-block: var(--space-l);
}

footer ul {
    padding: 0;
    list-style: none;
}

@media (min-width: 50rem) {
    footer {
        position: fixed;
        bottom: 0;
        inset-inline: 0;
    }
}
