footer {
    display: none;
    padding-block: var(--space-l);
    gap: var(--gutter);

    position: fixed;
    bottom: 0;
}

footer > div {
    margin-inline: auto;
}

@media (min-width: 50rem) {
    footer {
        display: flex;
    }
}
