header {
    padding-block: var(--space-l);
}

header > nav > ul {
    --cluster-horizontal-alignment: flex-start;
}

header > nav a {
    text-decoration: none;
}

header ul {
    padding: 0;
    list-style: none;
}

@media (min-width: 70rem) {
    header {
        position: fixed;
        top: 0;
        inset-inline: 0;
    }
}
