@media (min-width: 70rem) {
    .page-container {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: scroll;
    }

    .page {
        height: 100vh;
        scroll-snap-align: center;

        --switcher-gap: var(--space-l-xl);
        --switcher-container-width: 70rem;
    }

    .page > .flow {
        max-height: 70vh;
        overflow-y: auto;
    }
}
