:root {
    color-scheme: light;

    --brand: var(--gray-10); /*  */
    --accent: var(--violet-3); /*  */
    --text-1: var(--gray-10);
    --background: var(--gray-0);

    --gutter: var(--space-s-m);
    --tracking: -0.05ch;
    --tracking-s: -0.001ch;

    --min-column-width: 50rem;
}
