$font-stack: "Helvetica Neue", Arial, Roboto, sans-serif;
$primary: black;

@use "node_modules/bootstrap/scss/bootstrap" with
        (
            $font-family-sans-serif: $font-stack,
            $font-size-base: 0.75rem,
            $primary: black,
        );
@forward "node_modules/bootstrap/scss/bootstrap";

// variables
$big-spacer: bootstrap.$spacer * 5;

h2 {
    margin-bottom: 1rem;

    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;

    text-transform: uppercase;
    text-decoration: underline;
}

// customize
.form-control {
    border: 1px solid black;
    border-radius: 0;
    // color: $primary;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 1; /* Firefox */
}

.btn {
    border-radius: 0;
}

.padding-x {
    padding: 0 $big-spacer;
}

.margin-y {
    margin: bootstrap.$spacer 0;
}

.forground {
    z-index: 1040;
}

.nav-height {
    height: 7vh;
}

.fixed-width {
    width: 25vw;
}

.line-through {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}
