$font-stack: Helvetica, Arial, sans-serif;

@use "node_modules/bootstrap/scss/bootstrap" with (
    $font-family-sans-serif: Roboto,
    $font-size-base: 0.75rem,
    $primary: black,
);
@forward "node_modules/bootstrap/scss/bootstrap";

// variables
$big-spacer: bootstrap.$spacer * 5;

// customize
.padding-x {
    padding: 0 $big-spacer;
}

.forground {
    z-index: 1040;
}

.nav-height {
    height: 7vh;
}

.fixed-width {
    width: 25vw;
}

.line-through {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}

.info {
    padding-top: 10rem;
}
