<div class="flow">
    <h2>About</h2>
    <p>
        ELAN was born out of the need to challenge existing
        power dynamics and the traditional flow of knowledge
        that exists in both the corporate world and the cultural
        zeitgeist.
    </p>
    <p>
        User adoption is often thought of as a challenge for
        businesses to try to find product market fit. How do
        they do it? They listen to their customers, but in the
        end what dictates their decisions is a preexisting idea
        of who their customer should be. We at ELAN don't
        believe in what consumers should be or shouldn't be. We
        believe that products and their messaging need to shift
        to fit this newer, emerging world.
    </p>
    <p>
        Additionally, we know that the mechanism for this dual
        change has to come through exposure to diversity &
        inclusion, giving something back to the community and
        supporting the local scene.
    </p>
    <p>The unnegotiable.</p>
    <p>
        The clients we work with embrace — or are open to
        embracing — this changing world wholeheartedly.
    </p>
</div>

<div class="cover">
    <aside class="team flex">
        <div>
            <a href="mailto:raquel@elanberlin.com"
                >raquel@elanberlin.com</a
            >
            {% imagePlaceholder "./src/assets/images/raquel.png", "Portait of Raquel", "Raquel Fedato" %}
        </div>
        <div>
            <a href="mailto:ricardo@elanberlin.com"
                >ricardo@elanberlin.com</a
            >
           {% imagePlaceholder "./src/assets/images/ricardo.png", "Portait of Ricardo", "Ricardo Oswald" %}
        </div>
    </aside>
</div>
