<div class="flow">
    <h2>What we do</h2>
    <p>
        We are a Berlin-based, international constellation of
        creatives developing customized events and experiences
        for clients and brands.
    </p>
    <p>
        We want to connect purpose-driven companies to
        communities, artists, and professionals that are helping
        to reshape the local and global scene towards a future
        of awareness and inclusion.
    </p>
</div>

<div class="cover">
    <aside>
        {% imagePlaceholder "./src/assets/images/elan.png", "" %}
    </aside>
</div>
