<div class="flow">
    <h2>Work</h2>
    <p>
        B2B and B2C Event Conceptualization and Execution,
        including:
    </p>
    <ul>
        <li>
            Brand Strategy, Creative Research, and Creative
            Ideation
        </li>
        <li>Budgeting and Project Management</li>
        <li>Guest and Venue Curation</li>
        <li>Vendor and Talent Procurement</li>
        <li>Sponsorships and Partnerships</li>
        <li>On Site Facilities and Experience Management</li>
        <li>Pre-Production and Post-Event Breakdown</li>
        <li>Pre-Event and Post-Event Social Media Coverage</li>
    </ul>
    <p>
        Explore some of our projects by clicking on the client's
        name.
    </p>
</div>

<div class="project-list | cover">
    <ul>
        <li>Boiler Room</li>
        <li>Melt</li>
        <li>Moxy</li>
        <li>Scopes</li>
        <li>Soundcloud</li>
        <li>The Standard</li>
        <li>Twitter</li>
        <li>Whole</li>
        <li>INTEGR8</li>
    </ul>
</div>
